body {
    background-color: black;
}

.header {
    background: rgb(154,21,161);
    background: radial-gradient(circle, rgba(154,21,161,1) 0%, rgba(0,0,0,1) 88%);
}

.neon-title {
    font-size: 30px;
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    text-shadow: 0 0 1px #ffffff, 0 0 3px #282828, 0px 0px 6px #ffffff, 0 0 10px #e6e6e6, 0 0 30px #b0b0b0, 0 0 50px #a5a5a5, 0 15px 5px #000;
}

.neon-title span {
    font-size: 30px;
    position: absolute;
    top: 4%;
    left: 8%;
    opacity: .3;
}

.flash {
    animation: flash-anime 5s linear infinite;
}

@keyframes flash-anime {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    51%  {opacity: 0.3;}
    52%  {opacity: 1;}
    75% {opacity: 1;}
    76% {opacity: 0.6;}
    77% {opacity: 1;}
    78% {opacity: 0.3;}
    79% {opacity: 1;}
}


  